
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-sm-12">
            <h4>Login Form</h4>
        </div>
        <div class="col-sm-6">
            <input type="text" id="" name="" placeholder="enter first name" />
        </div>
        <div class="col-sm-6">
            <input type="text" id="" name="" placeholder="enter first name" />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-info">Register</button>
        </div>
    </div>
</div>

